{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue nos insectes soyez la bienvenue</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Nourriture</th>
                <th>Famille</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asma in asmas %}
            <tr>
                <td><a href="{{ path('asma_show', { 'id': asma.id }) }}">{{ asma.id }}</a></td>
                <td>{{ asma.nom }}</td>
                <td>{{ asma.race }}</td>
                <td>{{ asma.nourriture }}</td>
                <td>{{ asma.famille }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('asma_show', { 'id': asma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('asma_edit', { 'id': asma.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('asma_delete', { 'id': asma.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>

            
        {% endfor %}
        </tbody>
    </table>

  

 <nav class="navbar navbar-inverse">
<div class="container">
    <div class="navbar-header">
        <div id="navbar" class="collape navbar-collapse">

<ul class="nav navbar-nav">
    <li ><a href="/try/web" >Afficher nos insectes</li>
         <li>
            <a href="{{ path('asma_new') }}">Ajouter un insecte</a>
        </li>
    <li><a href="/try/web/register" >Inscription</li>
        <li><a href="/try/web/login" >login</li>
          
                 
    </ul>
        </div>
    </div>
</div>

    </nav>



{% endblock %}
{% block stylesheets %}
<style>
   
    body { background: #FFF0F5; font: 18px/1.5 sans-serif; padding-top:  5px }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    table {
border: medium solid #D87093;
border-collapse: collapse;
width: 50%;
}
th {
font-family: monospace;
border: thin solid #D87093;
width: 50%;
padding: 5px;
background-color: #FFB6C1;
background-image: url(sky.jpg);
}
td {
font-family: sans-serif;
border: thin solid #D87093;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p {  color: #C71585 ; margin: 0 0 1em 0; }
    a { color:#8B4513; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

  
   
</style>
{% endblock %}
